#game-screen {
    width: 100%;
    height: 100%;
    display: flex;
}

#left-side {
    height: 100%;
    width: 30%;
    color: rgb(255, 255, 255);
    font-size: larger;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#main-stage {
    height: 100%;
    width: 70%;
}

#right-side {
    height: 100%;
    width: 30%;
}

#balance-and-totalprofits-container {
    display: flex;
    flex-direction: column;
}
#balance-container {
    display: flex;
    flex-direction: row;
}

#totalprofits-container {
    display: flex;
    flex-direction: row;
}